@model IEnumerable<Car_LoactionV6.Models.Users>

@{
    ViewBag.Title = "Index";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">List users</h5>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>

                                <th scope="col" class="border-0 text-uppercase font-medium">Name</th>

                                <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">TypeUser</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Telephone</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Date De naissance</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Cin</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Permis conduire</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.TypeUser =="Client") {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nom)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AdresseMail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TypeUser)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telephone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateNaissance)
                                    </td>
                                    <td>
                                        <img src="@Url.Content("~/photos1/" + item.Cin)" style="width:50px;height:50px;"/>
                                    </td>
                                    <td>
                                        <img src="@Url.Content("~/photos2/" + item.PermisConduire)" style="width:50px;height:50px;" />
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.UID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.UID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.UID })
                                    </td>
                                </tr>
                                 }
                              }

                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<style>

    body {
        background: #edf1f5;
        margin-top: 20px;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: 0;
    }

    .btn-circle.btn-lg, .btn-group-lg > .btn-circle.btn {
        width: 50px;
        height: 50px;
        padding: 14px 15px;
        font-size: 18px;
        line-height: 23px;
    }

    .text-muted {
        color: #8898aa !important;
    }

    [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: pointer;
    }

    .btn-circle {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        padding: 10px;
    }

    .user-table tbody tr .category-select {
        max-width: 500px;
        border-radius: 20px;
</style>
